
.overlay
{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0,0,0,0.7);
}

.wizardContainer
{
    background-color:white;
    height:500px;
    width:500px;
    display: flex;
.wizard
{
    height:300px;
    width:300px;
    margin: 0 auto auto;
 
  
}

}