.checkmark {
  .active {
    svg {
      transform-origin: 20px 20px;
      animation: grow 1.6s forwards;
      animation-duration: 0.6s;
    }

    @keyframes grow {
      0% {
        opacity: 0%;
        transform: scale(0.1);
      }
      2% {
        opacity: 1%;
        transform: scale(0.5);
      }

      70% {
        transform: scale(1.2);
      }
      100% {
        transform: scale(1);
      }
    }

    .arrow {
      stroke-dashoffset: -40;
      stroke-dasharray: 40px;
      animation: dash 0.8s forwards;
      animation-delay: 0.7s;
    }

    @keyframes dash {
      0% {
        stroke-dashoffset: -40;
        stroke-dasharray: 40px;
      }
      30% {
        stroke-dashoffset: -50;
        stroke-dasharray: 40px;
      }
      100% {
        stroke-dashoffset: -68;
        stroke-dasharray: 40px;
      }
    }
  }

  .inactive {
    opacity: 0;
  }
}
